<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=T, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    
</head>

<body>
    <h1>this is our todoapp</h1>
<div id="mobile-container">
    <input type="text" placeholder="Task" name="task" class="with-linear-gradient " >
    <textarea name="description" id="description" cols="30" rows="5" placeholder="task Descricption"></textarea>
    <input type="date" name="duedate" id="duedate">
    <select name="priority" id="priority">
        <option value="low">low</option>
        <option value="normal" selected>normal</option>
        <option value="urgent">urgent</option>
        </select>
        <div id="status">statussdsdsadasdsd</div>
        <button>mark as completed</button>
        <button>delete task</button>
</div>


    <!-- bootstrap plugin -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>