input
{
    border : none;
    border-bottom:solid 2px grey;
}
select
{
    border : none;
    border-bottom:solid 2px grey;
}
textarea
{
    border : none;
    border-bottom:solid 2px grey;
}

.with-linear-gradient
{
 
  border-width: 4px;
  border-image: linear-gradient(45deg,#38ef7d,#11998e) 1 ;
  background-color: #3CBC8D;
  color: white;
}